body{
    background-color: lightcyan;
    margin: 0%;
}

div{
    box-sizing: border-box;
}

.post{
background: white;
margin-top: 10px;
display: inline-block;
width: 80%;
font-family: 'Rubik', sans-serif;
font-size: 15px;
}

.header-post{
    margin: 10px;
    padding: 10px;
}

.container{
    width: 600px;
    margin: auto;
}

.post img{
    width: 100%;   
}

.post .header-left:first-child{
display: inline-block;
width: 80%;
font-family: 'Rubik', sans-serif;
font-size: 15px;
}

.post .header-right:last-child{
display: inline-block;
width: 20%;
text-align: right;
}

.post .awesome-left{
 display: inline-block;
width: 80%;
}

.post .awesome-left i{
display: inline-block;
margin: 7px;
}

.post .awesome-right{
display: inline-block;
width: 20%;
padding-right: 10px;
}

